.task-panel {
    width: 250px;
    height: 100vh;
    h5 {
        padding: 20px;
        font-size: 1.6rem;
    }
}
.task-panel.today {
    background-color: rgba(255, 220, 220, 1);
    color:  rgb(248, 88, 88);
}
.task-panel.soon {
    background-color: rgb(238, 220, 255);
    color:  rgb(193, 86, 255);
}